#textdomain wesnoth-loti-era
[unit_type]
    id=Naga High Guard LotI
	[base_unit]
		id=Naga High Guard
    [/base_unit]
	hide_help=true
    do_not_list=yes
	experience=100
	{GENERIC_AMLA units/nagas/guardian/sentinel.png units/nagas/guardian/sentinel-defend-1.png units/nagas/guardian/sentinel-defend-2.png units/nagas/guardian/sentinel.png units/nagas/guardian/sentinel-defend-1.png units/nagas/guardian/sentinel-defend-2.png (
	[advancement]
	id=armour
	max_times=5
	description= _ "better protected from physical blows (2% better resistances; +4% resist impact)"
	image=icons/steel_armor.png
	strict_amla=yes
	require_amla=""
	[effect]
		apply_to=resistance
		replace=false
		[resistance]
			blade=-2
			pierce=-2
			impact=-4
		[/resistance]
	[/effect]
	{AMLA_DEFAULT_BONUSES}
[/advancement]
[advancement]
	max_times=3
	always_display=yes
	id=movement
	description= _ "faster"
	image=icons/boots_elven.png
	strict_amla=yes
	require_amla=""
	[effect]
		apply_to=movement
		increase=1
	[/effect]
	{AMLA_DEFAULT_BONUSES}
[/advancement]
) "Naga High Guard LotI"}
[/unit_type]