#ifndef LOTI_STR_FOREST

#textdomain wesnoth-lib

#define LOTI_STR_FOREST
_ "Forest" #enddef
#define LOTI_STR_HILLS
_ "Hills" #enddef
#define LOTI_STR_RAINFOREST
_ "Rainforest" #enddef
#define LOTI_STR_SAVANNA
_ "Savanna" #enddef

#define LOTI_STR_FOG
_"Fog" #enddef

#define LOTI_STR_YES
_"Yes" #enddef
#define LOTI_STR_NO
_"No" #enddef
#define LOTI_STR_EXIT
_"Exit" #enddef

################################ TEXTDOMAIN "wesnoth-units" ################################
#textdomain wesnoth-units

#define LOTI_STR_ANCIENT_LICH
_ "Ancient Lich" #enddef
#define LOTI_STR_BANDIT
_ "Bandit" #enddef
#define LOTI_STR_BOWMAN
_ "Bowman" #enddef
#define LOTI_STR_CAVALRYMAN
_ "Cavalryman" #enddef
#define LOTI_STR_DUELIST
_ "Duelist" #enddef
#define LOTI_STR_ELDER_MAGE
_ "Elder Mage" #enddef
#define LOTI_STR_FENCER
_ "Fencer" #enddef
#define LOTI_STR_FOOTPAD
_ "Footpad" #enddef
#define LOTI_STR_FOOTPAD_FEMALE
_ "female^Footpad" #enddef
#define LOTI_STR_FUGITIVE
_ "Fugitive" #enddef
#define LOTI_STR_FUGITIVE_FEMALE
_ "female^Fugitive" #enddef
#define LOTI_STR_FIRE_GUARDIAN
_"Fire Guardian" #enddef
#define LOTI_STR_UNIT_GENERAL
_ "General" #enddef
#define LOTI_STR_GHOUL
_"Ghoul" #enddef
#define LOTI_STR_GHOST
_"Ghost" #enddef
#define LOTI_STR_HEAVY_INFANTRYMAN
_ "Heavy Infantryman" #enddef
#define LOTI_STR_HIGHWAYMAN
_ "Highwayman" #enddef
#define LOTI_STR_IRON_MAULER
_ "Iron Mauler" #enddef
#define LOTI_STR_MAGE_OF_LIGHT
_ "Mage of Light" #enddef
#define LOTI_STR_MAGE_OF_LIGHT_FEMALE
_ "female^Mage of Light" #enddef
#define LOTI_STR_MASTER_AT_ARMS
_ "Master at Arms" #enddef
#define LOTI_STR_NIGHTBLADE
_ "Orcish Nightblade" #enddef
#define LOTI_STR_OUTLAW
_ "Outlaw" #enddef
#define LOTI_STR_OUTLAW_FEMALE
_ "female^Outlaw" #enddef
#define LOTI_STR_POACHER
_ "Poacher" #enddef
#define LOTI_STR_REVENANT
_"Revenant" #enddef
#define LOTI_STR_ROYAL_GUARD
_ "Royal Guard" #enddef
#define LOTI_STR_SCHOCK_TROOPER
_ "Shock Trooper" #enddef
#define LOTI_STR_SKELETAL_DRAGON
_ "Skeletal Dragon" #enddef
#define LOTI_STR_SKELETON
_"Skeleton" #enddef
#define LOTI_STR_SOULLESS
_"Soulless" #enddef
#define LOTI_STR_SPEARMAN
_ "Spearman" #enddef
#define LOTI_STR_SWORDSMAN
_ "Swordsman" #enddef
#define LOTI_STR_SYLPH_FEMALE
_ "female^Elvish Sylph" #enddef
#define LOTI_STR_THUG
_ "Thug" #enddef
#define LOTI_STR_TRAPPER
_ "Trapper" #enddef
#define LOTI_STR_WHITE_MAGE
_ "White Mage" #enddef
#define LOTI_STR_WHITE_MAGE_FEMALE
_ "female^White Mage" #enddef

#define LOTI_STR_AXE
_"axe" #enddef
#define LOTI_STR_BANEBLADE
_"baneblade" #enddef
#define LOTI_STR_BATTLE_AXE
_"battle axe" #enddef
#define LOTI_STR_BATTLE_CLAWS
_"battle claws" #enddef
#define LOTI_STR_BEAK
_"beak" #enddef
#define LOTI_STR_BERSERK_ATTACK_NAME
_"berserker frenzy" #enddef
#define LOTI_STR_BITE
_"bite" #enddef
#define LOTI_STR_BLADE_ATTACK_NAME
_"blade" #enddef
#define LOTI_STR_BLOWGUN
_"blowgun" #enddef
#define LOTI_STR_BOLAS
_"bolas" #enddef
#define LOTI_STR_BOW
_"bow" #enddef
#define LOTI_STR_CHAKRAM
_"chakram" #enddef
#define LOTI_STR_CHILL_TEMPEST
_"chill tempest" #enddef
#define LOTI_STR_CHILL_WAVE
_"chill wave" #enddef
#define LOTI_STR_CLAWS
_"claws" #enddef
#define LOTI_STR_CLEAVER
_"cleaver" #enddef
#define LOTI_STR_CLUB
_"club" #enddef
#define LOTI_STR_COMPOSITE_BOW
_"composite bow" #enddef
#define LOTI_STR_CROSSBOW
_"crossbow" #enddef
#define LOTI_STR_CRUSH
_"crush" #enddef
#define LOTI_STR_CURSE
_"curse" #enddef
#define LOTI_STR_CURVED_BLADE
_"curved blade" #enddef
#define LOTI_STR_DAGGER
_"dagger" #enddef
#define LOTI_STR_EAGLE
_"eagle" #enddef
#define LOTI_STR_ENSNARE_ATTACK_NAME
_"ensnare" #enddef
#define LOTI_STR_ENTANGLE_ATTACK_NAME
_"entangle" #enddef
#define LOTI_STR_FAERIE_FIRE_ATTACK_NAME
_"faerie fire" #enddef
#define LOTI_STR_FAERIE_TOUCH
_"faerie touch" #enddef
#define LOTI_STR_FALCON
_"falcon" #enddef
#define LOTI_STR_FANGS
_"fangs" #enddef
#define LOTI_STR_FIRE_BREATH
_"fire breath" #enddef
#define LOTI_STR_FIRE_CLAWS
_"fire claws" #enddef
#define LOTI_STR_FIREBALL
_"fireball" #enddef
#define LOTI_STR_FIST
_"fist" #enddef
#define LOTI_STR_FLAIL
_"flail" #enddef
#define LOTI_STR_FLAME_BLAST
_"flame blast" #enddef
#define LOTI_STR_FLAMETHROWER
_"flamethrower" #enddef
#define LOTI_STR_GOSSAMER
_"ethereal web" #enddef
#define LOTI_STR_GREATSWORD
_"greatsword" #enddef
#define LOTI_STR_HALBERD
_"halberd" #enddef
#define LOTI_STR_HAMMER
_"hammer" #enddef
#define LOTI_STR_HATCHET
_"hatchet" #enddef
#define LOTI_STR_JAVELIN
_"javelin" #enddef
#define LOTI_STR_JAW
_"jaw" #enddef
#define LOTI_STR_KICK
_"kick" #enddef
#define LOTI_STR_LANCE
_"lance" #enddef
#define LOTI_STR_LIGHTBEAM
_"lightbeam" #enddef
#define LOTI_STR_LIGHTNING
_"lightning" #enddef
#define LOTI_STR_LONGBOW
_"longbow" #enddef
#define LOTI_STR_LONGSWORD
_"longsword" #enddef
#define LOTI_STR_MACE
_"mace" #enddef
#define LOTI_STR_MISSILE
_"missile" #enddef
#define LOTI_STR_MORNING_STAR
_"morning star" #enddef
#define LOTI_STR_MUD_GLOB
_"mud glob" #enddef
#define LOTI_STR_NET
_"net" #enddef
#define LOTI_STR_PIKE
_"pike" #enddef
#define LOTI_STR_PINCERS
_"pincers" #enddef
#define LOTI_STR_PLAGUE_STAFF
_"plague staff" #enddef
#define LOTI_STR_POMMEL_STRIKE
_"pommel strike" #enddef
#define LOTI_STR_RAM
_"ram" #enddef
#define LOTI_STR_ROPE_DART
_"rope_dart" #enddef
#define LOTI_STR_RUNIC_HAMMER
_"runic hammer" #enddef
#define LOTI_STR_SABER
_"saber" #enddef
#define LOTI_STR_SCIMITAR
_"scimitar" #enddef
#define LOTI_STR_SHADOW_WAVE
_"shadow wave" #enddef
#define LOTI_STR_SHIELD
_"shield" #enddef
#define LOTI_STR_SHIELD_BASH
_"shield bash" #enddef
#define LOTI_STR_SHORT_SWORD
_"short sword" #enddef
#define LOTI_STR_SHRAPNEL
_"sharp rocks" #enddef
#define LOTI_STR_SLAM
_"slam" #enddef
#define LOTI_STR_SLING
_"sling" #enddef
#define LOTI_STR_SPEAR
_"spear" #enddef
#define LOTI_STR_SPIT
_"spit" #enddef
#define LOTI_STR_STAFF_ATTACK_NAME
_"staff" #enddef
#define LOTI_STR_STING
_"sting" #enddef
#define LOTI_STR_SWORD
_"sword" #enddef
#define LOTI_STR_TAIL
_"tail" #enddef
#define LOTI_STR_TENTACLE
_"tentacle" #enddef
#define LOTI_STR_THORNS_ATTACK_NAME
_"thorns" #enddef
#define LOTI_STR_THROWING_KNIVES
_"throwing knives" #enddef
#define LOTI_STR_THUNDERSTICK
_"thunderstick" #enddef
#define LOTI_STR_TORCH
_"torch" #enddef
#define LOTI_STR_TOUCH
_"touch" #enddef
#define LOTI_STR_TRAMPLE
_"trample" #enddef
#define LOTI_STR_TRIDENT
_"trident" #enddef
#define LOTI_STR_TRISHULA
_"trishula" #enddef
#define LOTI_STR_WAR_BLADE
_"war blade" #enddef
#define LOTI_STR_WAR_TALON
_"war talon" #enddef
#define LOTI_STR_WAIL
_"wail" #enddef
#define LOTI_STR_WATER_SPRAY
_"water spray" #enddef
#define LOTI_STR_WEB
_"web" #enddef

################################ TEXTDOMAIN "wesnoth-help" ################################

#textdomain wesnoth-help
#define LOTI_STR_CHARGE
_ "charge" #enddef
#define LOTI_STR_FEEDING
_ "feeding" #enddef
#define LOTI_STR_FEEDING_FEMALE
_ "female^feeding" #enddef
#define LOTI_STR_FIRST_STRIKE
_ "first strike" #enddef
#define LOTI_STR_LEADERSHIP
_"leadership" #enddef
#define LOTI_STR_REGENERATES
_ "regenerates" #enddef

#define LOTI_STR_IMMUNE
_ "Immune to drain, poison, and plague" #enddef

################################ TEXTDOMAIN "wesnoth" ################################

#textdomain wesnoth
#define LOTI_STR_LAWFUL
_ "lawful" #enddef
#define LOTI_STR_CHAOTIC
_ "chaotic" #enddef

#define LOTI_STR_ITEMS
_"Items" #enddef

#endif