#textdomain wesnoth-loti-era
[unit_type]
    id=Ogre LotI
	[base_unit]
		id=Ogre
    [/base_unit]
	hide_help=true
    do_not_list=yes
	experience=120
	{GENERIC_AMLA units/monsters/direwolf.png units/monsters/direwolf-defend-1.png units/monsters/direwolf-attack.png units/monsters/direwolf.png units/monsters/direwolf-defend-1.png units/monsters/direwolf-attack.png (
	[advancement]
			max_times=1
			always_display=yes
			id=fangs1
			description= _ "biting better"
			image=attacks/fangs-animal.png
			strict_amla=yes
			require_amla=""
			[effect]
				apply_to=attack
				name=fangs
				increase_damage=1
			[/effect]
			{AMLA_DEFAULT_BONUSES}
		[/advancement]
		[advancement]
			max_times=1
			always_display=yes
			id=fangs2
			description= _ "biting faster"
			image=attacks/fangs-animal.png
			strict_amla=yes
			require_amla="fangs1"
			[effect]
				apply_to=attack
				name=fangs
				increase_damage=-1
				increase_attacks=1
			[/effect]
			{AMLA_DEFAULT_BONUSES}
		[/advancement]
		[advancement]
			max_times=1
			always_display=yes
			id=fangs2-leech
			description= _ "feasting on enemies when biting"
			image=attacks/fangs-animal.png
			strict_amla=yes
			require_amla="fangs1"
			[effect]
				apply_to=attack
				name=fangs
				increase_damage=-1
				[set_specials]
					mode=append
					{WEAPON_SPECIAL_LEECH}
				[/set_specials]
			[/effect]
			{AMLA_DEFAULT_BONUSES}
		[/advancement]
		[advancement]
			max_times=10
			always_display=yes
			id=fangs3
			description= _ "biting better"
			image=attacks/fangs-animal.png
			strict_amla=yes
			require_amla="fangs2"
			[effect]
				apply_to=attack
				name=fangs
				increase_damage=1
			[/effect]
			{AMLA_DEFAULT_BONUSES}
		[/advancement]
		[advancement]
			max_times=5
			always_display=yes
			id=dodge
			description= _ "more nimble (lowering the chance to be hit by 4%)"
			image=icons/crossed_sword_and_hammer.png
			strict_amla=yes
			require_amla=""
			[effect]
				apply_to=defense
				replace=false
				[defense]
					frozen=-4
					castle=-4
					sand=-4
					village=-4
					flat=-4
					hills=-4
					mountains=-2
					cave=-4
					shallow_water=-4
					coastal_reef=-4
					swamp_water=-4
					forest=-2
					fungus=-4
					deep_water=-4
					unwalkable=-4
				[/defense]
			[/effect]
			{AMLA_DEFAULT_BONUSES}
		[/advancement]
		[advancement]
			max_times=5
			always_display=yes
			id=movement
			description= _ "faster"
			image=icons/boots_elven.png
			strict_amla=yes
			require_amla=""
			[effect]
				apply_to=movement
				increase=1
			[/effect]
			{AMLA_DEFAULT_BONUSES}
		[/advancement]
	) "Dire Wolf LotI"}